<!--
### 
### Responsabile: Andronio
### Ultima modifica di: Perini 08/05
###
-->

{% extends "base.html" %}
{% block title %}ReteCLIL - Account{% endblock %}

{% block content %}
		<title>Rete CLIL - Account</title>
		<br>
		<br>
		<h2 align="center">Account</h2>
		<br>
		<div class="row">
			<div class="col s6 offset-m3">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
		    			<div class="collapsible-header"><i class="material-icons">vpn_key</i>Modifica password</div>

		    			<div class="collapsible-body active" id="collapsible_password">
		    				<span>
		    					<form method="POST" action="/account" id="form_psw">
		    						<input type="hidden" name="action" value="password">
				    					<div class="row">
				        					<div class="input-field col s12">
				          						<input required id="vecchiaPassword" type="password" class="validate" name="oldpassword">
				         						<label for="password">Vecchia password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				          						<input required id="nuovaPassword" type="password" class="validate" name="newpassword">
				         						<label for="password">Nuova password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				          						<input required id="confermaPassword" type="password" class="validate">
				         						<label for="password">Conferma password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				      						<div class col="s12">
												<div class="error" style="display:none" id="error">

												</div>
					      					</div>
				      					</div>
				      					<div class="row">
				      						<button id="psw" class="btn waves-effect waves-light light-blue darken-3" type="button" name="action">Modifica</button>
				      					</div>
			      				</form>
		      				</span>
		      			</div>
		   		 	</li>
		  		 	<li>
		    			<div class="collapsible-header"><i class="material-icons">account_circle</i>Modifica email</div>

		    			<div class="collapsible-body">
		    				<span>
		    					<form method="POST" action="/account" id="form_email">
		    						<input type="hidden" name="action" value="email">
			    						<div class="row">
			    							<div class="input-field col s12">
			    								E-mail corrente: {{email}}
			    							</div>
			    						</div>
				    					<div class="row">
				        					<div class="input-field col s12">
				          						<input required id="Password" type="password" class="validate" name="password">
				         						<label for="password">Password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				          						<input required id="nuovaEmail" type="text" class="validate" name="newemail">
				         						<label for="email">Nuova email</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				          						<input required id="confermaEmail" type="text" class="validate">
				         						<label for="email">Conferma email</label>
				        					</div>
				      					</div>
				      					<div class="row">
				      						<div class col="s12">
												<div class="errore" style="display:none" id="errore">

												</div>
					      					</div>
				      					</div>
				      					<div class="row">
				      						<button id="email" class="btn waves-effect waves-light light-blue darken-3" type="button" name="action">Modifica</button>
				      					</div>
				      			</form>
		      				</span>
		      			</div>
		    		</li>
				</ul>
			</div>
		</div>
		{% if error %}
		<div class="row">
			<div class="col s6 offset-m3">
				<div class="error" id="error">
					<blockquote> <h5>Errore</h5> {{error}} </blockquote>
				</div>
			</div>
		</div>
		{% endif %}
		{% if success %}
		<div class="row">
			<div class="col s6 offset-m3">
				<div class="error" id="error">
					<blockquote style="border-left: 5px solid #64b5f6"> <h5>Successo</h5> {{success}} </blockquote>
				</div>
			</div>
		</div>
		{% endif %}
		<script type="text/javascript">
		$(document).ready(function(){
		    $("#psw").click(function(){
					if ($('#nuovaPassword').val() == $('#confermaPassword').val()) {
				     	$('.error').html("");
				     	$( "#form_psw" ).submit();
				    } else if ($('#nuovaPassword').val() != $('#confermaPassword').val()) {

				     	$('.error').html("<blockquote> <h5>Errore</h5> Password incongruenti </blockquote>");
				     	$("#error").css("display", "inline");
				    }
		    });
		    $("#email").click(function(){
		        if ($('#nuovaEmail').val() == $('#confermaEmail').val()) {
				     	$('.errore').html("");
				     	$( "#form_email" ).submit();
				    } else if ($('#nuovaEmail').val() != $('#confermaEmail').val()) {
				     	$('.errore').html("<blockquote> <h5>Errore</h5> Email incongruenti </blockquote>");
				     	$("#errore").css("display", "inline");
				    }
		    });
		});


		</script>

		{% if success == "password" %}
		<script type="text/javascript">
		$('#collapsible_password').collapsible('open', 0);
		</script>
		{% elif success == "email" %}

		{% endif %}
{% endblock %}
