<!--
### 
### Responsabile: Andronio
### Ultima modifica di: Perini 12/05
###
-->

{% extends "base.html" %}
{% block title %}ReteCLIL - Account{% endblock %}

{% block content %}
		<title>Rete CLIL - Account</title>
		<br>
		<br>
		<h2 align="center">Account</h2>
		<br>
		<div class="row">
			<div class="col s6 offset-m3">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						{% if errorType == "password" %}
		    				<div class="collapsible-header active"><i class="material-icons">vpn_key</i>Modifica password</div>
		    			{% else %}
		    				<div class="collapsible-header"><i class="material-icons">vpn_key</i>Modifica password</div>
		    			{% endif %}
		    			<div class="collapsible-body" id="collapsible_password">
		    				<span>
		    					<form method="POST" action="/account" id="form_psw">
		    						<input type="hidden" name="action" value="password">
				    					<div class="row">
				        					<div class="input-field col s12">
				        					<i class="material-icons prefix">vpn_key</i>
				          						<input required id="vecchiaPassword" type="password" class="validate" name="oldpassword">
				         						<label for="password">Vecchia password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				        					<i class="material-icons prefix">vpn_key</i>
				          						<input required id="nuovaPassword" type="password" class="validate" name="newpassword" pattern="[^ ,]*" title="la password non può contenere spazi o virgole">
				         						<label for="password">Nuova password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				        					<i class="material-icons prefix">vpn_key</i>
				          						<input required id="confermaPassword" type="password" class="validate" pattern="[^ ,]*" title="la password non può contenere spazi o virgole">
				         						<label for="password">Conferma password</label>
				        					</div>
				      					</div>
										{% if error and errorType == "password" %}
										<div class="row">
											<div class="col s6">
												<div class="error" id="outerror">
													<blockquote> <h5>ERRORE</h5> {{error}} </blockquote>
												</div>
											</div>
										</div>
										{% endif %}
				      					<div class="row">
				      						<div class col="s12">
												<div class="error" style="display:none" id="error">

												</div>
					      					</div>
				      					</div>
				      					<div class="row">
				      						<button id="psw" class="btn waves-effect waves-light light-blue darken-3" type="button" name="action">Modifica</button>
				      					</div>
			      				</form>
		      				</span>
		      			</div>
		   		 	</li>
		  		 	<li>
						{% if errorType == "email" %}
		    			<div class="collapsible-header active"><i class="material-icons">account_circle</i>Modifica email</div>
		    			{% else %}
		    			<div class="collapsible-header"><i class="material-icons">account_circle</i>Modifica email</div>
		    			{% endif %}

		    			<div class="collapsible-body">
		    				<span>
		    					<form method="POST" action="/account" id="form_email">
		    						<input type="hidden" name="action" value="email">
			    						<div class="row">
			    							<div class="input-field col s12">
			    								E-mail corrente: {{email}}
			    							</div>
			    						</div>
				    					<div class="row">
				        					<div class="input-field col s12">
				        						<i class="material-icons prefix">vpn_key</i>
				          						<input required id="Password" type="password" class="validate" name="password">
				         						<label for="password">Password</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				        						<i class="material-icons prefix">email</i>
				          						<input required id="nuovaEmail" type="text" class="validate" name="newemail" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" title="L'indirizzo e-mail dovrebbe contenere @ seguita da un indirizzo e un suffisso (.it/.com/...)">
				         						<label for="email">Nuova email</label>
				        					</div>
				      					</div>
				      					<div class="row">
				        					<div class="input-field col s12">
				        						<i class="material-icons prefix">email</i>
				          						<input required id="confermaEmail" type="text" class="validate" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" title="L'indirizzo e-mail dovrebbe contenere @ seguita da un indirizzo e un suffisso (.it/.com/...)">
				         						<label for="email">Conferma email</label>
				        					</div>
				      					</div>
										{% if error and errorType == "email" %}
										<div class="row">
											<div class="col s6">
												<div class="error" id="outerror">
													<blockquote> <h5>ERRORE</h5> {{error}} </blockquote>
												</div>
											</div>
										</div>
										{% endif %}
				      					<div class="row">
				      						<div class col="s12">
												<div class="errore" style="display:none" id="errore">

												</div>
					      					</div>
				      					</div>
				      					<div class="row">
				      						<button id="email" class="btn waves-effect waves-light light-blue darken-3" type="button" name="action">Modifica</button>
				      					</div>
				      			</form>
		      				</span>
		      			</div>
		    		</li>
				</ul>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col s6 offset-m3">
				<div class="success" id="success">
					<blockquote style="border-left: 5px solid #64b5f6"> <h5>Successo</h5> {{success}} </blockquote>
				</div>
			</div>
		</div>
		{% endif %}
		<script type="text/javascript">
		$(document).ready(function(){
			$(".validate").bind("enterKey",function(e){
					if($('#nuovaPassword').is(":invalid") || $('#confermaPassword').is(":invalid")){
		    			$('#error').html("<blockquote> <h5>ERRORE</h5> La password non può contenere spazi e virgole </blockquote>");
				     	$(".error").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
		    		}
					if ($('#nuovaPassword').val() == $('#confermaPassword').val() && $('#nuovaPassword').is(":valid") && $('#confermaPassword').is(":valid")) {
				     	$('.error').html("");
				     	$( "#form_psw" ).submit();
				    } else if ($('#nuovaPassword').val() != $('#confermaPassword').val()) {

				     	$('#error').html("<blockquote> <h5>ERRORE</h5> Password incongruenti </blockquote>");
				     	$(".error").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
				    }
				    if($('#nuovaEmail').is(":invalid") || $('#confermaEmail').is(":invalid")){
		    			$('#errore').html("<blockquote> <h5>ERRORE</h5> L'indirizzo e-mail dovrebbe contenere @ seguita da un indirizzo e un suffisso (.it/.com/...) </blockquote>");
				     	$(".errore").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
		    		}
		        	if ($('#nuovaEmail').val() == $('#confermaEmail').val() && $('#nuovaEmail').is(":valid") && $('#confermaEmail').is(":valid")) {
				     	$('.errore').html("");
				     	$( "#form_email" ).submit();
				    } else if ($('#nuovaEmail').val() != $('#confermaEmail').val()) {
				     	$('#errore').html("<blockquote> <h5>ERRORE</h5> Email incongruenti </blockquote>");
				     	$(".errore").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
				    }
			});
			$(".validate").keyup(function(e){ // "Quando premi enter si attiva l'evento enter [Non saprei come spiegarlo meglio..]"
			    if(e.keyCode == 13)
				{
					$(this).trigger("enterKey");
			    }
			});
		    $("#psw").click(function(){
		    		if($('#nuovaPassword').is(":invalid") || $('#confermaPassword').is(":invalid")){
		    			$('#error').html("<blockquote> <h5>ERRORE</h5> La password non può contenere spazi e virgole </blockquote>");
				     	$(".error").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
		    		}
					if ($('#nuovaPassword').val() == $('#confermaPassword').val() && $('#nuovaPassword').is(":valid") && $('#confermaPassword').is(":valid")) {
				     	$('.error').html("");
				     	$( "#form_psw" ).submit();
				    } else if ($('#nuovaPassword').val() != $('#confermaPassword').val()) {

				     	$('#error').html("<blockquote> <h5>ERRORE</h5> Password incongruenti </blockquote>");
				     	$(".error").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
				    }
		    });
		    $("#email").click(function(){
		    		if($('#nuovaEmail').is(":invalid") || $('#confermaEmail').is(":invalid")){
		    			$('#errore').html("<blockquote> <h5>ERRORE</h5> L'indirizzo e-mail dovrebbe contenere @ seguita da un indirizzo e un suffisso (.it/.com/...) </blockquote>");
				     	$(".errore").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
		    		}
		        if ($('#nuovaEmail').val() == $('#confermaEmail').val() && $('#nuovaEmail').is(":valid") && $('#confermaEmail').is(":valid")) {
				     	$('.errore').html("");
				     	$( "#form_email" ).submit();
				    } else if ($('#nuovaEmail').val() != $('#confermaEmail').val()) {
				     	$('#errore').html("<blockquote> <h5>ERRORE</h5> Email incongruenti </blockquote>");
				     	$(".errore").css("display", "inline");
				     	$("#outerror").css("display", "none");
				     	$("#success").css("display", "none");
				    }
		    });
		});


		</script>

		{% if success == "password" %}
		<script type="text/javascript">
		$('#collapsible_password').collapsible('open', 0);
		</script>
		{% elif success == "email" %}

		{% endif %}
{% endblock %}
