<html>
	<head>
		{% block head %}
			<script src="{{ url_for('static', filename= 'jquery-3.1.1.min.js') }}"></script>
		  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<title>{% block title %}Rete CLIL - Home{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		{% if logged %}
		<nav class="nav-extended light-blue darken-4">
    	<div class="nav-wrapper">
	      <a href="/" class="brand-logo">Rete CLIL</a>
	      <ul class="right hide-on-med-and-down">
	      	<li><a><i class="material-icons">search</i></a></li>
	      	
	        <li><a href="/">Home</a></li>
	        <li><a href="/section">Documenti</a></li>
	        <li><a href="/manage">Account</a></li>
	        <!--<li><a href="/" type="submit">logout</a></li> || dovrebbe essere il bottone di logout-->
	       
	      </ul>
	    </div>
	  </nav>
	  {% else %}
		<nav class="nav-extended light-blue darken-4">
    	<div class="nav-wrapper">
	      <a href="/" class="brand-logo">Rete CLIL</a>
	      <ul class="right hide-on-med-and-down">
	      	<li><a><i class="material-icons">search</i></a></li>
	      	
	        <li><a href="/">Home</a></li>
	        <li><a href="/section">Documenti</a></li>
	        <li><a href="/login">Accedi</a></li>
	       
	      </ul>
	    </div>
	  </nav>
	  {% endif %}
	  {% block content %}

	  {% endblock %}

	</body>
</html>
