<!--
### 
### Responsabile: Perini
### Ultima modifica di: Perini 08/05
###
-->

<html>
	<head>
		{% block head %}
			<script src="{{ url_for('static', filename= 'jquery-3.1.1.min.js') }}"></script>
		  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="shortcut icon" href="http://www.iconj.com/ico/x/q/xqtwd3psp7.ico" type="image/x-icon" />
		{% endblock %}
	</head>
	<body>

		<nav class="nav-extended light-blue darken-4">
    	<div class="nav-wrapper">
	      <a href="/" class="brand-logo">Rete CLIL</a>
	      <ul class="right hide-on-med-and-down">
	      	<li><a href="/search"><i class="material-icons">search</i></a></li>

	        <li><a href="/">Home</a></li>
	        <li><a href="/section">Documenti</a></li>
					{% if logged > 1 %}<li><a href="/upload">Carica</a></li>{% endif %}
					{% if logged == 3 %}<li><a href="/manage">Gestisci</a></li>{% endif %}
					{% if logged %}
						<li><a href="/account">Account</a></li>
	        	<li><a href="/logout">Esci</a></li>
					{% else %}
						<li><a href="/login">Accedi</a></li>
					{% endif %}
	      </ul>
	    </div>
	  </nav>

	  {% block content %}

	  {% endblock %}

	</body>
</html>
