{% extends "base.html" %}
{% block title %}ReteCLIL - Webmasters{% endblock %}

{% block content %}
	<title>Rete CLIL - Credits</title>
	<br><br>
	<h2 align="center">Credits</h2>
	<div class="center-align">
		<br>
		<h5>PROJECT MANAGER:</h5>
		Dalila Tissi <br>
		<br>
		<h5>DIRETTORE TECNICO:</h5>
		<b>Salvatore Giammanco</b><br>
		<br>
		<h5>DOCUMENTAZIONE:</h5>
		Francesca Cremonesi (RESPONSABILE)<br>
		Vincenzo Inverno<br>
		Luca Scarpa<br>
		<br>
		<h5>GRAFICA:</h5>
		Matteo Perini (RESPONSABILE)<br>
		Andrea Alemanni<br>
		Erika Andronio<br>
		Arsen Vladyka<br>
		<br>
		<h5>SERVER:</h5>
		Frenkli Buzhiqi (RESPONSABILE)<br>
		<br>
		<h5>PROGRAMMAZIONE:</h5>
		Nicholar Sollazzo (RESPONSABILE)<br>
		Alessandro Capici<br>
		Vincenzo Di Pietro<br>
		Cristian Garau<br>
		<br>
		<h5>QUALITÀ:</h5>
		Giacomo Bisi (RESPONSABILE)<br>
		Francesco Chiappa<br>
		Andrea Cordoni<br>
		David Giampà<br>
		David Palladino
		<br><br>
	</div>
{% endblock %}
