<!--
### 
### Responsabile: Alemanni
### Ultima modifica di: Alemanni 22/05
###
-->

{% extends "base.html" %}

{% block content %}
<title>Rete CLIL - Forum</title>
<style>

  .Abbrevia {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
  }
</style>

<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $('.btn').modal();
  });         
</script>
<br>
<br>
<h2 align="center">Forum</h2>
<br>
{% if threads %}
<div class="input-field col s6 offset-m3">
  <ul class="collection">
    <!--da fixare nomi da jinja nome cognome titolo (togliere ultimo post)-->

    {% for thread in threads %}
    <a href="/forum/{{thread.id_thread}}">
      <li class="collection-item avatar">
        <i class="material-icons circle blue">question_answer</i>
        <span class="title Abbrevia">{{thread.title}}</span>
        <p class="Abbrevia">Autore: {{thread.name}}  {{thread.surname}}
        </p>
      </a>
      <!--da rendere hidden -->
      {% if logged == 3 %}
      <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% else %}
  <!--da vedere row e dimensione in col-->
  <div class="row" >
    <div class="col m4 offset-m4"><p align="center">Attualmente non sono presenti discussioni.Puo crearne una nuova premento sul tasto dal simbolo "+" in basso a sinistra</p></div>
  </div>
  {% endif %}
  
  <!-- Modal Trigger -->
  <div class="row">
  <div class="col s1 offset-m11">
      <a class="btn-floating btn-medium light-blue darken-3" href="#modal1"><i class="material-icons">add</i></a>
    </div>
  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
     <div class="row">
      <form class="col s12" action="/forum" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Title" type="text" >
            <label for="Title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Description</label>
          </div>
        </div>
        
      </form>
    </div>


  </div>
  <div class="modal-footer">
    <div class="row"> 
      <div class="col s3 offset-m9">
        <a class="waves-effect waves-light light-blue darken-3 btn" value="submit">Submit</a>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}

