<!--
### 
### Responsabile: Perini
### Ultima modifica di: Perini 08/05
###
-->

{% extends "base.html" %}

{% block content %}

<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for('static', filename = 'flag.jpg') }}"></div>
</div>
<div class="section grey lighten-4">
	<div class="row parallax-container">
		<div class="container grey lighten-4">
			<h2 style="text-align: center;">Rete CLIL della provincia di Pavia</h2><br>
			{{ description }}
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for('static', filename= 'libro.jpg') }}"></div>
</div>

<div class="section grey lighten-4">
	<div class="row parallax-container">
		<div class="container grey lighten-4">
			<h2 style="text-align: center;">Eventi</h2><br>
			
		</div>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax"><img src="{{ url_for('static', filename= 'matite.jpg') }}"></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.parallax').parallax();
	});
</script>
<footer class="page-footer light-blue darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text"><a class="grey-text text-lighten-3" href="file:///N:/5CI/parallax/index.html">Rete CLIL</a></h5>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Link Utili</h5>
				<ul>
					{% for link in links %}
					<li><a class="grey-text text-lighten-3" href="{{link.url}}" target="_blank">{{link.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017
		</div>
	</div>
</footer>
{% endblock %}
