<html>
	<head>
			<script src="{{ url_for('static', filename= 'jquery-3.1.1.min.js') }}"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  			 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="shortcut icon" href="http://www.iconj.com/ico/j/h/jhcyn71asp.ico" type="image/x-icon" />
	</head>
	<body>
		<nav class="nav-extended light-blue darken-4">
	    	<div class="nav-wrapper">
		      <a href="#" target="blank" class="brand-logo">Rete CLIL</a>
		      <ul class="right">
		      </ul>
		    </div>
	  	</nav>
	  	<h2>E' stato effettuato un tentativo di recupero della password per il tuo account della Rete CLIL della provincia di Pavia</h2>
	  	<br>
	  	<h3>Per recuperare la password premi <a href="Indirizzo recovery" class="waves-effect waves-light btn" style="background-color: #1976d2">Qui</a>
	  	<br>
	  	<h3>In alternativa, copia questo link nella barra degli indirizzi <i class="small material-icons">trending_flat</i><a> Link</a></h3>
	</body>
</html>