<!-- Perini Matteo -->

<html>
	<head>
			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  			 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="shortcut icon" href="http://www.iconj.com/ico/j/h/jhcyn71asp.ico" type="image/x-icon" />
	</head>
	<body style="background-color: #eeeeee; ">
		<h1 style="text-align:center">Rete CLIL della provincia di Pavia</h1>
		<hr>
	  	<h3>E' stato effettuato un tentativo di recupero della password per il tuo account della Rete CLIL della provincia di Pavia</h2>
	  	<br>
	  	<h4>Per recuperare la password premi <a href="placeholder" class="waves-effect waves-light btn" style="background-color: #1976d2; color: white;">Qui</a>
	  	<br>
	  	<h4>In alternativa, copia questo link nella barra degli indirizzi <a>placeholder</a></h3>
	</body>
</html>
