{% extends "base.html" %}

{% block content %}
<title>Rete CLIL - Gestione sito</title>
<br><br>
<h2 align="center">Gestione sito</h2><br>
<div class="row">
	<div class="col s8 offset-m2">
		<ul class="collapsible" data-collapsible="accordion">
			<!-- COLLAPSIBLE: Modifica descrizione -->
			<li>
				<div class="collapsible-header"><i class="medium material-icons">description</i>Descrizione</div>
				<div class="collapsible-body">
					<span>
						<div class="row" style="display: none" id="success_description">
							<div class="error" id="error">
								<blockquote style="border-left: 5px solid #64b5f6"> Descrizione aggiornata con successo </blockquote>
							</div>
						</div>
							<div class="row">
								<div class="input-field">
									<i class="material-icons prefix light-blue-text darken-3">mode_edit</i>
									<textarea name="new_description" id="description" class="materialize-textarea">{{description}}</textarea>
									<label for="icon_prefix2">Descrizione</label>
									<button type="button" id="mod_description" class="waves-effect waves-light btn light-blue darken-3">modifica</button>
								</div>
							</div>
					</span>
				</div>
			</li>

			<!-- COLLAPSIBLE: Aggiunta e modifica links -->
			<li>
				<div class="collapsible-header"><i class="medium material-icons">place</i>Links</div>
				<div class="collapsible-body">
					<span>
						<ul class="collection with-header">
							<li class="collection-item">
								<div id="link_list">
									{% for link in links %}
									<div class="row" id="row-link-{{ link.title }}">
										<div class="input-field">
											<a target="_blank" href="{{ link.url }}">{{link.title}}</a>
											<a title="{{ link.title }}" style='cursor:pointer' class="secondary-content delete_link"><i class="material-icons light-blue-text darken-3">delete</i></a>
										</div>
									</div>
									{% endfor %}
								</div>
								<a href="#modal_link_add" class="btn-floating btn-medium light-blue darken-3"><i class="material-icons">add</i></a>
							</li>
						</ul>
					</span>
				</div>
			</li>

			<!-- COLLAPSIBLE: Aggiunta e modifica utenti -->
			<li>
				<div class="collapsible-header"><i class="medium material-icons">perm_identity</i>Utenti</div>
				<div class="collapsible-body">
						<ul class="collection with-header">
							<li class="collection-item">
								<table class="striped" id="table_users">
									<thead>
										<tr>
											<th>Nome e cognome</th>
											<th>E-mail</th>
											<th>Nome utente</th>
											<th>Tipologia utente</th>
											<th>Azioni</th>
										</tr>
									</thead>
									{% set user_types = ['Insegnante', 'Referente', 'Amministratore'] %}

									{% if user_list %}
										{% for user in user_list %}
											<tr id="row-user-{{ user.username }}">
													<div class="input-field">
														<td>{{user.name}} {{user.surname}}</td>
														<td>{{user.email}}</td>
														<td>{{user.username}}</td>
														<td>{{user_types[user.user_type | int - 1 ]}}</td>
														<td>
															<a username="{{ user.username }}" style='cursor:pointer' class="secondary-content delete_user"><i class="material-icons light-blue-text darken-3">delete</i></a>
														</td>
													</div>
											</tr>
										{% endfor %}
									{% endif %}
								</table>
								<br>
								<a href="#modal_user" class="btn-floating btn-medium light-blue darken-3"><i class="material-icons">add</i></a>
							</li>
						</ul>
				</div>
			</li>

			<!-- COLLAPSIBLE: Modifica files -->

			<!--
			<li>
				<div class="collapsible-header"><i class="medium material-icons">perm_media</i>Files</div>
				<div class="collapsible-body">
					<span>
						<ul class="collection with-header">
							<li class="collection-item">
								{% if file_list %}
									{% for file in file_list %}
										<div class="inout-field">
											{{file.file_name}}
											<a id="delete_links" href="#!" class="secondary-content"><i class="material-icons light-blue-text darken-3">delete</i></a>
											<a href="#modal_file" class="secondary-content"><i class="material-icons light-blue-text darken-3">mode_edit</i></a>
										</div>
									{% endfor %}
								{% endif %}
							</li>
						</ul>
					</span>
				</div>
			</li>
			-->

			<!-- COLLAPSIBLE: Aggiunta e modifica sezioni -->
			<li>
				<div class="collapsible-header"><i class="medium material-icons">subject</i>Sezioni Files</div>
				<div class="collapsible-body">
					<span>
						<ul class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header"><i class="material-icons">label_outline</i>First</div>
								<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">label_outline</i>Second</div>
								<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">label_outline</i>Third</div>
								<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
						</ul>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- MODAL: Inserimento dati utente -->
<div id="modal_user" class="modal">
	<div class="modal-content">
		<h4 style="margin-left: 33%; color: ##212121;">Inserisci utente</h4>
		<form id="form_user">
			<div class="row">
				<div class="input-field col s6">
					<input id="user_name" type="text" class="validate">
					<label class="active" for="user_name">Nome</label>
				</div>
				<div class="input-field col s6">
					<input id="user_surname" type="text" class="validate">
					<label class="active" for="user_surname">Cognome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="user_email" type="text" class="validate">
					<label class="active" for="e_mail">E-mail</label>
				</div>
				<div class="input-field col s6">
					<select id="user_type">
						<option value="" disabled selected>Scegli il tipo dell'utente</option>
						<option value="1">Insegnante</option>
						<option value="2">Referente</option>
						<option value="3">Amministratore</option>
					</select>
					<label>Tipo Utente</label><br>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<button id="add_user" class="waves-effect waves-light btn light-blue darken-3">modifica</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- MODAL: Modifica files -->
<div id="modal_file" class="modal">
	<div class="modal-content">
		<h4 style="margin-left: 33%; color: #212121;">Modifica FILE</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="testo_link" type="text" class="validate">
						<label class="active" for="testo_link">Nome File</label>
					</div>
					<div class="input-field col s6">
						<select>
							<option value="" disabled selected>Scegli il tipo dell'file</option>
							<option value="1">Commun</option>
							<option value="2">Teacher</option>
						</select>
						<label>Tipo File</label><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<button id="mod_file" type="submit" class="waves-effect waves-light btn light-blue darken-3">modifica</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- MODAL: Inserimento links -->
<div id="modal_link_add" class="modal">
	<div class="modal-content">
		<h4 style="margin-left: 33%; color: #212121;">Agiungi link</h4>
			<input type="hidden" name="action" value="create_link">
			<div class="row">
				<div class="input-field col s12">
					<input id="link_title" type="text" class="validate">
					<label class="active" for="testo_link">Titolo link</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="link_url" type="text" class="validate">
					<label class="active" for="new_link">URL</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<button id="create_link" type="button" class="waves-effect waves-light btn light-blue darken-3">add</button>
				</div>
			</div>
	</div>
</div>

<script type="text/javascript">

	//modifica descrizione
	$("#mod_description").click(function (){
		new_description = $("#description").val();
		$.post("/manage", { action: "edit_description", new_description: new_description}).done(function( data ) {
			if (data == "Success"){
				$("#success_description").show();
			}
	  });
	});

	//Eliminazione link
	$(document).on('click', '.delete_link', function (){
		link_title = $(this).attr("title");
		$.post("/manage", { action: "delete_link", title: link_title}).done(function( result ) {
			if (result == "Success"){
				$("#row-link-"+link_title).remove();
			}
	  });
	});

	//Aggiunta link
	$("#create_link").click(function (){
		link_title = $("#link_title").val();
		link_url = $("#link_url").val();
		$.post("/manage", { action: "create_link", link_title: link_title, link_url: link_url}).done(function( data ) {
			result = data
			if (result == "Success"){
				$("#link_list").append("<div class='row' id='row-link-"+ link_title +"'><div class='input-field'><a target='_blank' href='"+ link_url +"'>"+ link_title+"</a><a title='"+ link_title +"' style='cursor:pointer' class='secondary-content delete_link'><i class='material-icons light-blue-text darken-3'>delete</i></a></div></div>");
				$('#modal_link_add').modal('close');
				$("#link_title").val("");
				$("#link_url").val("");
			}else if (result == "title_already_in_use"){
				alert("Titolo già in uso. Per favore scegliere un titolo diverso.");
			}
	  });
	});

	//Aggiunta user

	$("#add_user").click(function (){
		alert("ciao");
		user_name = $("#user_name").val();
		user_surname = $("#user_surname").val();
		user_email = $("#user_email").val();
		user_type = $("#user_type").val();
		$.post("/manage", { action: "create_user", name: user_name, surname: user_surname, email: user_email, user_type: user_name}).done(function( result ) {
			alert(result);
			if (result == "Success"){
				//$("#table_users").append("");
				$('#form_user').reset();
			}else if (result == "title_already_in_use"){
				alert("Titolo già in uso. Per favore scegliere un titolo diverso.");
			}
	  });
	});

	//Eliminazione user
	$(document).on('click', '.delete_user', function (){
		username = $(this).attr("username");
		$.post("/manage", { action: "delete_user", username: username}).done(function( result ) {
			if (result == "Success"){
				$("#row-user-"+username).remove();
			}
	  });
	});


	//Inizializazione componenti materialize
	$('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
  }
  );

	$('.dropdown-button').dropdown({
		inDuration: 300,
		outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
  }
  );

	$(document).ready(function() {
		$('select').material_select();
	});
</script>
{% endblock %}
