<!--
###
### Responsabile: Vladyka
###
-->
{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<br><br>
<h2 align="center">Gestione Rete CLIL</h2><br>
<div class="row">
	<div class="col s6 offset-m3">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="medium material-icons">description</i>Descrizione</div>
				<div class="collapsible-body">
					<span>
						<div class="row" style="display: none" id="success_description">
							<div class="error" id="error">
								<blockquote style="border-left: 5px solid #64b5f6"> Descrizione aggiornata con successo </blockquote>
							</div>
						</div>
							<div class="row">
								<div class="input-field">
									<i class="material-icons prefix light-blue-text darken-3">mode_edit</i>
									<textarea name="new_description" id="description" class="materialize-textarea">{{description}}</textarea>
									<label for="icon_prefix2">Descrizione</label>
									<button type="button" id="mod_description" class="waves-effect waves-light btn light-blue darken-3">modifica</button>
								</div>
							</div>
					</span>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="medium material-icons">place</i>Links</div>
				<div class="collapsible-body">
					<span>
						<ul class="collection with-header">
							<li class="collection-item">
								<div id="link_list">
									{% for link in links %}
									<div class="row" id="row-link-{{ link.title }}">
										<div class="input-field">
											<a target="_blank" href="{{ link.url }}">{{link.title}}</a>
											<a title="{{ link.title }}" style='cursor:pointer' class="secondary-content delete_link"><i class="material-icons light-blue-text darken-3">delete</i></a>
										</div>
									</div>
									{% endfor %}
								</div>
								<a href="#modal_link_add" class="btn-floating btn-medium light-blue darken-3"><i class="material-icons">add</i></a>
							</li>

						</ul>
					</span>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="medium material-icons">perm_identity</i>Utenti</div>
				<div class="collapsible-body">
					<span>
						<ul class="collection with-header">
							<!--<li class="collection-header"><h4>Users</h4></li>-->
							<li class="collection-item">
								{% for user in user_list %}
								<div>
									{{user.name}}
									{{user.surname}}
									<a id="delete_links" href="#!" class="secondary-content"><i class="material-icons light-blue-text darken-3">delete</i></a>
									<a href="#modal_users" class="secondary-content"><i class="material-icons light-blue-text darken-3">mode_edit</i></a>
								</div>
								{% endfor %}
							</li>
						</ul>
					</span>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="medium material-icons">perm_media</i>Files</div>
				<div class="collapsible-body">
					<span>
						<ul class="collection with-header">
							<!--<li class="collection-header"><h4>Filess</h4></li>-->
							<li class="collection-item">
								{% for file in file_list %}
								<div >
									{{file.file_name}}
									<a id="delete_links" href="#!" class="secondary-content"><i class="material-icons light-blue-text darken-3">delete</i></a>
									<a href="#modal_file" class="secondary-content"><i class="material-icons light-blue-text darken-3">mode_edit</i></a>
								</div>
								{% endfor %}
							</li>
						</ul>
					</span>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="medium material-icons">subject</i>Sezioni Files</div>
				<div class="collapsible-body">
					<span>
						<ul class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header"><i class="material-icons">label_outline</i>First</div>
								<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">label_outline</i>Second</div>
								<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header"><i class="material-icons">label_outline</i>Third</div>
								<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
						</ul>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="modal_users" class="modal">
	<div class="modal-content">
		<h4 style="margin-left: 33%; color: ##212121;">Modifica Utente</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input id="user_name" type="text" class="validate">
						<label class="active" for="user_name">Nome Utente</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="user_surname" type="text" class="validate">
						<label class="active" for="user_surname">Cognome Utente</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="e_mail" type="text" class="validate">
						<label class="active" for="e_mail">E-mail</label>
					</div>
				</div>
				<div class="input-field col s6">
					<select>
						<option value="" disabled selected>Scegli il tipo dell'utente</option>
						<option value="1">Commun</option>
						<option value="2">Teacher</option>
					</select>
					<label>Tipo Utente</label><br>
					<a id="psw_gen"class="waves-effect waves-light btn light-blue darken-3"><i class="material-icons left">vpn_key</i>Genera Password</a><br><br>
					<button id="mod_user" type="submit" class="waves-effect waves-light btn light-blue darken-3">modifica</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="modal_file" class="modal">
	<div class="modal-content">
		<h4 style="margin-left: 33%; color: #212121;">Modifica FILE</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="testo_link" type="text" class="validate">
						<label class="active" for="testo_link">Nome File</label>
					</div>
					<div class="input-field col s6">
						<select>
							<option value="" disabled selected>Scegli il tipo dell'file</option>
							<option value="1">Commun</option>
							<option value="2">Teacher</option>
						</select>
						<label>Tipo File</label><br>
					</div>
				</div>
			</div>
			<button id="mod_file" type="submit" class="waves-effect waves-light btn light-blue darken-3">modifica</button>
		</form>
	</div>
</div>
<div id="modal_link_add" class="modal">
	<div class="modal-content">
		<h4 style="margin-left: 33%; color: #212121;">Agiungi LINK</h4>
			<input type="hidden" name="action" value="create_link">
			<div class="row">

				<div class="input-field col s12">
					<input id="link_title" type="text" class="validate">
					<label class="active" for="testo_link">Titolo Link</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="link_url" type="text" class="validate">
					<label class="active" for="new_link">URL</label>
				</div>
			</div>
			<button id="create_link" type="button" class="waves-effect waves-light btn light-blue darken-3">add</button>
	</div>
</div>
<script type="text/javascript">
	//modifica descrizione

	$("#mod_description").click(function (){
		new_description = $("#description").val();
		$.post("/manage", { action: "edit_description", new_description: new_description}).done(function( data ) {
			if (data == "Success"){
				$("#success_description").show();
			}
	  });
	});

	//Eliminazione link

	$(document).on('click', '.delete_link', function (){
		link_title = $(this).attr("title");
		$.post("/manage", { action: "delete_link", title: link_title}).done(function( result ) {
			if (result == "Success"){
				$("#row-link-"+link_title).remove();
			}
	  });
	});


	//Aggiunta link
	$("#create_link").click(function (){
		link_title = $("#link_title").val();
		link_url = $("#link_url").val();
		$.post("/manage", { action: "create_link", link_title: link_title, link_url: link_url}).done(function( data ) {
			result = data
			if (result == "Success"){
				$("#link_list").append("<div class='row' id='row-link-"+ link_title +"'><div class='input-field'><a target='_blank' href='"+ link_url +"'>"+ link_title+"</a><a title='"+ link_title +"' style='cursor:pointer' class='secondary-content delete_link'><i class='material-icons light-blue-text darken-3'>delete</i></a></div></div>");
				$('#modal_link_add').modal('close');
				$("#link_title").val("");
				$("#link_url").val("");
			}else if (result == "title_already_in_use"){
				alert("Titolo già in uso. Per favore scegliere un titolo diverso.");
			}
	  });
	});




	//Inizializazione componenti materialize
	$('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
  }
  );
	$('.dropdown-button').dropdown({
		inDuration: 300,
		outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
  }
  );
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
{% endblock %}
