<!--
###
### Responsabile: Perini
###
-->
{% extends "base.html" %}

{% block content %}
<title>Rete CLIL - Recupero Password</title>
<br>
<br>
<h2 align="center">Recupera password</h2>
<br>
<div class="row">
    <div class="input-field col s6 offset-m3">
      <form action="/recovery" method="POST">
		<i class="material-icons prefix">vpn_key</i>
		<input name="user" type="text" class="validate">
		<label for="icon_prefix">Nome utente</label>
		<br>
		<br>
		<button class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action">Recupera</button>
	</form>
    </div>
  </div>
{% endblock %}
