<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title></title>
</head>
<body>
	<div class="row"> <!-- Barra di ricerca -->
		<div class="input-field col s6 offset-m3">
			<i class="material-icons prefix">vpn_key</i>
			<input id="psw" type="password" class="validate">
			<label for="icon_prefix">Inserisci nuova password</label>
	    </div>
	</div>
	<div class="row"> <!-- Barra di ricerca -->
		<div class="input-field col s6 offset-m3">
			<i class="material-icons prefix">done</i>
			<input id="psw" type="password" class="validate">
			<label for="icon_prefix">Conferma password</label>
	    </div>
	</div>
</body>
</html>