{% extends "base.html" %}

{% block content %}
	<title>Rete CLIL - Recupero Password</title>
	<br>
	<br>
	<h2 align="center">Recupera password</h2>
	<br>
	</div>
	  <div class="row">
	    <div class="input-field col s6 offset-m3">
	    	<form action="/recovery" method="POST">
			<i class="material-icons prefix">vpn_key</i>
				<input required id="nuovaPassword" type="password" class="validate" pattern="[^ ,]*" title="la password non può contenere spazi o virgole" name="NewPassword">
				<label for="password">Nuova password</label>
			</form>
		</div>
	</div>
	</div>
	  <div class="row">
	    <div class="input-field col s6 offset-m3">
	    	<form action="/recovery" method="POST">
			<i class="material-icons prefix">vpn_key</i>
				<input required id="confermaPassword" type="password" class="validate" pattern="[^ ,]*" title="la password non può contenere spazi o virgole">
				<label for="password">Conferma password</label>
				<br>
				<br>
				<div class="row">
				      <div class col="s12">
							<div class="error" style="display:none" id="error">
								<!-- No Content [Deve riempirsi quando si verifica l'errore]-->
							</div>
					    </div>
				</div>
				<button class="btn waves-effect waves-light light-blue darken-3" id="psw" type="submit" name="action">Conferma Modfiche</button>
			</form>
		</div>
	</div>

	<script>
	$(document).ready(function(){
		$("#psw").click(function(){
		    		if($('#nuovaPassword').is(":invalid") || $('#confermaPassword').is(":invalid")){
		    			$('#error').html("<blockquote> <h5>ERRORE</h5> La password non può contenere spazi e virgole </blockquote>");
				     	$(".error").css("display", "inline");
				     	$("#outerror").css("display", "none");
		    		}
					if ($('#nuovaPassword').val() == $('#confermaPassword').val() && $('#nuovaPassword').is(":valid") && $('#confermaPassword').is(":valid")) {
				     	$('.error').html("");
				     	$( "#form_psw" ).submit();
				    } else if ($('#nuovaPassword').val() != $('#confermaPassword').val()) {

				     	$('#error').html("<blockquote> <h5>ERRORE</h5> Password incongruenti </blockquote>");
				     	$(".error").css("display", "inline");
				     	$("#outerror").css("display", "none");
				    }
		    });
	});
	</script>

{% endblock %}
