<!--
### 
### Responsabile: Andronio
### Ultima modifica di: Perini 08/05
###
-->

<!--
### Colori per le Card e File:
###	
### Audio (???) -> indigo lighten-1
###	Video (Incerto) -> purple lighten-3
### Cartelle Compresse -> yellow lighten-4
### Fogli di calcolo -> green
### Presentazioni -> orange darken-4 
### PDF -> red
### Immagini -> green lighten-2
-->
{% extends "base.html" %}
{% block title %}ReteCLIL - Search{% endblock %}

{% block content %}
	<title>Rete CLIL - Search</title>
	<script>
	var a;
	$(document).ready(function(){
		$("#search_key").bind("enterKey",function(e){
			a=$("#search_key").val(); // Prende il valore da search
			$(location).attr('href', '/search/'+a); // Lo mette nella URL
		});
		$("#search_key").keyup(function(e){ // "Quando premi enter si attiva l'evento enter [Non saprei come spiegarlo meglio..]"
		    if(e.keyCode == 13)
		    {
		        $(this).trigger("enterKey");
		    }
		});
	});
	</script>

		<br>
		<br>
		<h2 align="center">Ricerca documenti</h2>
		<br>
		<div class="row"> <!-- Barra di ricerca -->
			<div class="input-field col s6 offset-m3">
				<i class="material-icons prefix">search</i>
				<input id="search_key" type="text" class="validate">
				<label for="icon_prefix">Cerca</label>
	    	</div>
	    </div>
			<div class="row">
		{% for item in dict_files %} <!-- Stampa delle carte -->
		       	<div class="col m4">
		       	{% if item.extension == "pdf" %}
			        <div class="card red lighten-1">
			    {% elif item.extension == "jpg" or item.extension == "jpeg" or item.extension == "png" %}
			        <div class="card green lighten-2">
			    {% elif item.extension == "mov" %}
			        <div class="card deep-purple lighten-2">
			    {% elif item.extension == "mp3" or item.extension == "m4a" or item.extension == "wav"  %}
			        <div class="card indigo lighten-2">
			    {% elif item.extension == "zip" or item.extension == "rar" or item.extension == "7z"  %}
			        <div class="card yellow lighten-4">
			    {% elif item.extension == "odp" or item.extension == "ppt" or item.extension == "pps"  %}
			        <div class="card orange darken-4">
			    {% elif item.extension == "ods" or item.extension == "xls" or item.extension == "xml"  %}
			        <div class="card green">
				{% endif %}
				        <div class="card-content">
				            <span class="card-title">{{item.name}}</span>
				            <a class="btn-floating waves-effect waves-light blue right"><i class="material-icons">vertical_align_bottom</i></a>
				            <p>{{item.description}}</p>
				        </div>
				    </div>
		     	</div>
		{% endfor %}
		   	</div>
    	{% if error %}
			<div class="row">
				<div class="col s6 offset-m3">
					<div class="error" id="error">
						<blockquote> <h5>ERRORE</h5>La ricerca non ha ottenuto alcun risultato</blockquote>
					</div>
				</div>
			</div>
		{% endif %}
{% endblock %}