{% extends "base.html" %}

{% block content %}
<html>
	<head> 
	 	<script src="https://code.jquery.com/jquery-3.2.1.js"
 			 integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  			 crossorigin="anonymous">
  			
   		</script>
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
		<title></title>
	</head>
	<body>
    <div class="row">
      <form action="/search" class="col s12" method="GET">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input name="search_key" type="text" class="validate">
            <label for="icon_prefix">Cerca</label>
          </div>
        </div>
      </form>
    </div>
    <button class="btn waves-effect waves-light light-blue darken-3" type="submit">Cerca</button>
  </body>

  </html>

  {% endblock %}