<!--
### 
### Responsabile: Alemanni
### Ultima modifica di: Alemanni 19/05
###
-->
    {% extends "base.html" %}

    {% block content %}
    <title>Rete CLIL - Documents</title>
    <style>

    .Abbrevia {
      -o-text-overflow: ellipsis;   /* Opera */
      text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
      overflow:hidden;              /* don't show excess chars */
      white-space:nowrap;           /* force single line */
    }
    <div class="row">

      <div class="col s3 fixed ">
        <ul id="nav-mobile" class=" fixed" style="transform: translateX(0%);">
          {% for section in sections %}
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header active waves-effect waves-teal">{{section.name}}</a>
              <div class="collapsible-body">
                <ul>
                  {% for sub_section in section.list %}

                  <li><a href="/section/{{sub_section[1]}}">{{sub_section[0]}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </li>
          </ul>
        </div>

        <div class="col s9">
          {% if card %}

          {% for item in card %}
          <div class="col m4">
            {% if item.extension == "pdf" %}
            <div class="card red lighten-1">
              {% elif item.extension == "jpg" or item.extension == "jpeg" or item.extension == "png" %}
              <div class="card blue lighten-3">
                {% elif item.extension == "mov" %}
                <div class="card purple lighten-2">
                  {% elif item.extension == "mp3" or item.extension == "m4a" or item.extension == "wav"  %}
                  <div class="card indigo lighten-2">
                    {% elif item.extension == "zip" or item.extension == "rar" or item.extension == "7z"  %}
                    <div class="card amber lighten-2">
                      {% elif item.extension == "odp" or item.extension == "ppt" or item.extension == "pps"  %}
                      <div class="card orange">
                        {% elif item.extension == "ods" or item.extension == "xls" or item.extension == "xml"  %}
                        <div class="card green">
                          {% endif %}
                          <div class="card-content">
                            <span class="Abbrevia card-title">{{item.name}}</span>
                            <a class="btn-floating waves-effect waves-light blue right"><i class="material-icons">vertical_align_bottom</i></a>
                            <p class="Abbrevia">{{item.description}}</p>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                      {% else %}
                      <div class="row" >
                        <div class="col m4"><p>All'interno della sezione scelta non sono presenti file. Scelga un'altra sezione.</p></div>
                      </div>
                      {% endif %}

                    </div>

                  </div>

                  {% endblock %}