<html>
<head>
	<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
	<title>Sezione</title>
	<style>
		a:link, a:visited {
			text-decoration: underline;
			color: white;
		}
		a:hover, a:active {
			text-decoration: underline;
			color: white;
		}
		#laterale {
			position: fixed;
			height: 100%;
			z-index=2;
		}
	</style>
</head>

<body>

	<div class="row" >
		<div class="col s3 blue darken-2">
			<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
				<li class="bold active"><a class="collapsible-header active waves-effect waves-teal">JavaScript</a>
					<div class="collapsible-body" style="display: block;">
						<ul>
							<li><a href="carousel.html">Carousel</a></li>
							<li><a href="collapsible.html">Collapsible</a></li>
							<li><a href="dialogs.html">Dialogs</a></li>
							<li><a href="dropdown.html">Dropdown</a></li>
							<li><a href="feature-discovery.html">FeatureDiscovery</a></li>
							<li><a href="media.html">Media</a></li>
							<li><a href="modals.html">Modals</a></li>
							<li><a href="parallax.html">Parallax</a></li>
							<li><a href="pushpin.html">Pushpin</a></li>
							<li><a href="scrollfire.html">ScrollFire</a></li>
							<li><a href="scrollspy.html">Scrollspy</a></li>
							<li class="active"><a href="side-nav.html">SideNav</a></li>
							<li><a href="tabs.html">Tabs</a></li>
							<li><a href="transitions.html">Transitions</a></li>
							<li><a href="waves.html">Waves</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>	

{% for item in navigation %}
<div class="col s2 m3">
	<div class="card">
		<div class="card-image">
			<img src="Desert.jpg">
			<span class="card-title blue-text text-darken-4">Card Title</span>
			<a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-3"><i class="material-icons">vertical_align_bottom</i></a>
		</div>
		<div class="card-content">
			<p>Descrizione del file</p>
		</div>
	</div>
</div>
{% endfor %}

<div class="col s2 m3">
	<div class="card">
		<div class="card-image">
			<img src="Desert.jpg">
			<span class="card-title">Card Title</span>
			<a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-3"><i class="material-icons">vertical_align_bottom</i></a>
		</div>
		<div class="card-content">
			<p>Descrizione del file</p>
		</div>
	</div>
</div>


<div class="col s2 m3">
	<div class="card ">
		<div class="card-image ">
			<img src="Desert.jpg">
			<span class="card-title">Card Title</span>
			<a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-3"><i class="material-icons">vertical_align_bottom</i></a>
		</div>
		<div class="card-content">
			<p>Descrizione del file</p>
		</div>
	</div>
</div>
</div>
</body>

</html>