
{% extends "base.html" %}

{% block content %}
<br><br>
<h3 align="center">{{thread_title}}</h3><br>
	<div class="row">
{% for item in post %}
		<div class="col s8 offset-m2">
			<div class="col s12 ">
				<div class="card grey lighten-3">
					<br>
					<p style="margin-left: 1%; margin-top: -1%">{{item.author}} - {{item.date}}</p>
					<div class="card-content white-text">
						<p class="black-text">{{item.text}}</p>
					</div>
				</div>
			</div>
{% endfor %}
		<form action="/forum/{{id}}" id="form1" method="post" class="col s12">
			<div class="row">
					<div class="row">
						<div class="input-field col s12">
							<textarea name="textarea1" id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Inserisci Risposta</label>
						</div>
					</div>
			</div>
			<a name="btn1" id="threadAdd" type="submit" value="aggiungi" style="margin-left: 42%" class="waves-effect waves-light btn light-blue darken-3">Aggiungi</a>
		</form>
		</div>
<!--############################################################################################################################-->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Completato.</h4>
		<h5>Il testo è stato aggiunto<h5>
		</div>
		<div class="modal-footer">
			<!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>-->
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.modal').modal({
	      dismissible: true, // Modal can be dismissed by clicking outside of the modal
	      opacity: .5, // Opacity of modal background
	      inDuration: 300, // Transition in duration
	      outDuration: 200, // Transition out duration
	      startingTop: '4%', // Starting top style attribute
	      endingTop: '10%', // Ending top style attribute
  		});
  		$('#threadAdd').click(function(){
  			$.post('thread.py',$('#form1').submit());
  		});
  	});
	</script>
{% endblock %}