<!--
###
### Responsabile: Giammanco
###
-->

{% extends "base.html" %}

{% block content %}
<title>Rete CLIL - Upload</title>
<script src="http://malsup.github.com/jquery.form.js"></script>
<br>
<br>
<h2 align="center">Carica</h2>
<br>
<div class="row">
	<div class="col s6 offset-m3">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">attach_file</i>Carica Documento</div>
				<div class="collapsible-body">
					<span>
						<form action="/upload" id="form_file" method="POST" enctype="multipart/form-data">
							<div class="row">
								<div class="file-field input-field col s12" >
									<div class="btn" style="background-color: #1976d2">
										<span>File</span>
										<input type="file" name="file" required>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<select name='sub_sec'>
										<option value="" disabled selected>Seleziona una sezione</option>
										{% for section in sections %}
										<optgroup label="{{section.name}}">
											{% for sub_section in section.list %}
											<option value="{{sub_section[1]}}">{{sub_section[0]}}</option>
											{% endfor %}
										</optgroup>
										{% endfor %}
									</select>
									<label>Sezione</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<textarea required id="description" class="materialize-textarea" name='desc'></textarea>
									<label>Descrizione</label>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<div class="progress blue lighten-2">
										<div class="determinate blue darken-1" style="width: 0%"></div>
									</div>
								</div>
							</div>
							<div class="center-align">
								<a href = "redirect(url_for('route_upload'))">
									<button id="carica_file" type="submit" class="waves-effect waves-light btn light-blue darken-3">carica file</button>
								</a>
							</div>
						</form>
					</span>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">event</i>Aggiungi Evento</div>
				<div class="collapsible-body">
					<span>
						<div class="row">
							<form action="/upload" method="POST" class="col s12" >
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">title</i>
										<input required id="event_title" type="text" name = "title">
										<label class="active" for="event_title">Titolo</label>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="material-icons prefix">place</i>
											<input required id="event_place" type="text" name = "place">
											<label class="active" for="event_palce">Luogo</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="material-icons prefix">business</i>
											<input required id="address" type="text" name = "address">
											<label class="active" for="address">Indirizzo</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="material-icons prefix">date_range</i>
											<input type="date" id="event_date" name="event_date" class="datepicker">
											<label class="active" for="event_date">Data</label>
											<span class="validity"></span>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="material-icons prefix">schedule</i>
											<input required type="text" id="event_time" name="event_time" class="validate" pattern="(0[0-9]|1[0-9])(:[0-5][0-9]){1}">
											<label class="active" for="event_date">Ora dell'evento</label>
											<span class="validity"></span>
										</div>
									</div>
									<div class="input-field col s12">
										<i class="material-icons prefix">description</i>
										<textarea required id="textarea1" class="materialize-textarea" name="description"></textarea>
										<label for="textarea1">Descrizione</label>
									</div>
									<div class="center-align">
										<button id="carica_evento" type="submit" class="waves-effect waves-light btn light-blue darken-3">carica evento</button>
									</div>
								</form>
							</div>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="error-msg" class="row" style="display:none;">
		<div class="col s6 offset-m3">
			<div class="error" id="outerror">
				<blockquote> <h5>ERRORE</h5> Formato non supportato </blockquote>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var a;
		$(document).ready(function() {
			$('select').material_select();
		});
		$(function() {

			var bar = $('.bar');

			var percent = $('.determinate');

			$('#form_file').ajaxForm({
				beforeSend: function() {
					var percentVal = '0%';

					percent.css("width", percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%';

					percent.css("width", percentVal);
				},
				complete: function(xhr) {
					console.log(xhr.responseText);
					a=xhr.responseText;
					if(a=='success'){
						$('#error-msg').css('display','none');
						window.location.reload();
					}else{
						$('#error-msg').css('display','inline');
					}
				}
			});
		});
	//calendario
	$('.datepicker').pickadate({
           selectMonths: true, // Creates a dropdown to control month
           selectYears: 15 // Creates a dropdown of 15 years to control year
       });
   </script>
   <style type="text/css">
   	.picker { outline: none; } /* Optional feature */
   	/* Header - Day of the week */
   	.picker__weekday-display { background-color: #1976d2;
   		font-weight: 600;}
   		/* Body - Today info */
   		.picker__date-display { background-color: #2196f3; }
   		/* Buttons of actions */
   		.picker__nav--prev:hover { background-color: #bbdefb; }
   		.picker__nav--next:hover { background-color: #bbdefb; }
   		.picker__nav--prev:before {
   			border-left: 0;
   			border-right: 0.75em solid #2196f3;
   		}
   		.picker__nav--next:before {
   			border-right: 0;
   			border-left: 0.75em solid #2196f3;
   		}
   		.picker__today { color: #1e88e5; }
   	.picker__clear { /* If you want to customize */ }
   	.picker__close { color: #1e88e5; }
   	.btn-flat.picker__today:active { background-color: #bbdefb; }
   	.btn-flat.picker__close:active { background-color: #bbdefb; }
   	.btn-flat.picker__clear:active { background-color: #bbdefb; }
   	/* Select months of the year */
   	.picker__select--month.browser-default {
   		display: inline;
   		background-color: #FFFFFF;
   		width: 34%;
   		border: none;
   		outline: none;
   	}
   	/* Every month of the year except: today */
	   .picker__day { /* If you want to customize */ }
	.picker__day:hover { /* If you want to customize */ }
	.picker__day--infocus:hover { color: #1976d2; }
	.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
		color: #FFFFFF;
		font-weight: 700;
	}
	.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #2196f3; }
	/* Today */
	.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #2196f3; }
	.picker__day.picker__day--today
	{ color: #1976d2;
		font-weight: 700; }
</style>
{% endblock %}
