<!--
### 
### Responsabile: Giammanco
### Ultima modifica di: Perini 08/05
###
-->

{% extends "base.html" %}

{% block content %}
	<title>Rete CLIL - Upload</title>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<br>
	<br>
	<h2 align="center">Carica documento</h2>
	<br>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="file-field input-field col s6 offset-m3">
			  <div class="btn">
				<span>File</span>
				<input type="file" name="file">
			  </div>
			  <div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6 offset-m3">
				<select>
					<option value="" disabled selected>Seleziona una sezione</option>
					{% for section in sections %}
						<optgroup label="{{section.name}}">
							{% for sub_section in section.list %}
								<option value="{{sub_section[1]}}">{{sub_section[0]}}</option>
							{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
				<label>Sezione</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6 offset-m3">
				<textarea id="description" class="materialize-textarea"></textarea>
				<label>Descrizione</label>
			</div>
		</div>
		<div class="row">
			<div class="col s6 offset-m3">
				<div class="progress" width>
				    <div class="determinate" style="width: 0%"></div>
				</div>
			</div>
		</div>
		<div class="center-align">
			<button type="submit" class="waves-effect waves-light btn light-blue darken-3">carica</button>
		</div>
	</form>

	  <script type="text/javascript">
  	 	$(document).ready(function() {
	    	$('select').material_select();
	  	});
			$(function() {

					var bar = $('.bar');

					var percent = $('.determinate');

					$('form').ajaxForm({
							beforeSend: function() {
									var percentVal = '0%';

									percent.css("width", percentVal);
							},
							uploadProgress: function(event, position, total, percentComplete) {
									var percentVal = percentComplete + '%';

									percent.css("width", percentVal);
							},
							complete: function(xhr) {
									console.log(xhr.responseText);
							}
					});
			});

	  </script>
{% endblock %}
